<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a href="#" class="footer-logo">
        <img src="./img/index/logo-footer.png" alt="logo">
      </a>

      <nav class="footer-nav">
        <ul>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Terms and condition</a></li>
          <li><a href="#">Corporate documents</a></li>
        </ul>
      </nav>
      
      <ul class="social">
        <li class="social__item">
          <a href="#" class="social__link">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#inst'></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#fb'></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#twitter'></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
