<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <div class="footer__col">
        <div class="footer__col-top">
          <a href="/" class="logo">
            <img width="142" height="27" src="img/logo.png" alt="logo">
          </a>
          <p>QG is a cutting-edge Crypto Arbitrage Trading System.</p>
        </div>
        

        <ul class="social">
          <li class="social__item">
            <a href="#" class="social__link">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#whatsapp'></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#tg'></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

     
      <nav class="footer-nav">
        <div class="footer-nav__col">
          <span class="footer-nav__title">Navigation</span>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Referral program</a></li>
            <li><a href="#">Сommunity</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
  
        </div>
        <div class="footer-nav__col">
          <span class="footer-nav__title">Company</span>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">For our partners</a></li>
            <li><a href="#">For investors</a></li>
            <li><a href="#">Earning</a></li>
          </ul>
        </div>
        <div class="footer-nav__col">
          <span class="footer-nav__title">Terms of Use</span>
          <ul>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Terms and condition</a></li>
            <li><a href="#">Corporate documents</a></li>
          </ul>
        </div>
      </nav>
      
    </div>
  </div>
</footer>
