<header class="header fixed-block">
  <div class="container">
      <div class="header__inner">
      <a href="/" class="logo">
        <img width="142" height="27" src="img/logo.png" alt="logo">
      </a>

        <ul class="main-nav">
          <li class="main-nav__item"><a href="index.html" class="main-nav__link">Home page</a></li>
          <li class="main-nav__item"><a href="about.html" class="main-nav__link">About company</a></li>
          <li class="main-nav__item"><a href="referral.html" class="main-nav__link">Referral program</a></li>
          <li class="main-nav__item"><a href="faq.html" class="main-nav__link active">FaQ</a></li>
        </ul>
  
        <div class="header__btns">
          <button class="header__btn">
            Login
          </button>
          <button class="main-btn main-btn--transparent">
            Create account
            <span></span>
          </button>
        </div>

        <button class="burger">
          <span class="burger__line"></span>
        </button>

        <div class="mobile">
          <div class="mobile__menu">
            <div class="mobile__menu-top">
              <a class="logo" href="/">
                <img width="142" height="27" src="img/logo.png" alt="logo">
              </a>
              <div class="burger">
                <span class="burger__line"></span>
              </div>
            </div>
            	<ul class="mobile__menu-list">
                <li><a href="/">Home page</a></li>
                <li><a href="#">About company</a></li>
                <li><a  href="#">Referral program</a></li>
                <li><a class="active" href="#">FaQ</a></li>
              </ul>
              <div class="mobile__menu-btns">
                <button class="header__btn">
                  Login
                </button>
                <button class="main-btn main-btn--transparent">
                  Create account
                  <span></span>
                </button>
              </div>
          </div>
        </div>
      </div>

  

    
    <!-- <div class="mobile-menu">
      <div class="mobile-menu__box">

      </div>
    </div> -->

    
  </div>
</header>





