<div class="overlay fixed-block" data-overlay>

  <div class="modal success" data-popup="success">

    <button class="modal__close close" aria-label="Закрыть модальное окно">
      <svg width="24" height="24">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="modal__box">
      <span class="modal__icon">
        <img width="120" height="120" src="./img/sprite/application.svg" alt="image">
      </span>

      <div class="modal__inner">
        <span class="modal__title subtitle">Спасибо за заявку</span>
        <p>Мы все пересчитаем и вам позвоним в течении 1 часа.</p>
      </div>

      <button class="main-btn">
        Ок
        <span></span>
      </button>
    </div>
  </div>

</div>








