.main-top{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    @include small-tablet{
        align-items: center;
    }

    &__title{
        color:  rgba(var(--cl-a),1.0);

        @include small-tablet{
            text-align: center;
        }
    }

    &__subtitle{
        color: rgba(var(--cl-f),1.0);
        font-size: clamp(18px, 1.7949vw, 21px);
        font-weight: 700;
        line-height: 100%;
    }

    &__btns{
        display: flex;
        align-items: center;
        grid-gap: 12px;

        .main-btn{
            min-width: clamp(180px, 18.8034vw, 220px);
        }
    }

    .main-btn{
        @include small-tablet{
            max-width: 410px;
            width: 100%;
        }
    }

    p{
        color:  rgba(var(--cl-a),1.0);

        @include small-tablet{
            text-align: center;
        }
    }

    &--mode{
        align-items: center;

        .main-top__title{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
}