.faq-section{
    padding-bottom: clamp(80px, 17.265vw, 202px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(40px, 6.3248vw, 74px);
    }

    &__title{
        @include small-tablet{
            align-self: center;
        }
    }

    &--mode{
        padding:clamp(25px, 4.7009vw, 55px) 0 clamp(40px, 5.1282vw, 60px);
    }
}