.first-section {
  overflow: hidden;
  position: relative;
  z-index: 2;

  @include for-small-tablet{
    padding: clamp(60px, 12.5641vw, 147px) 0 36px;
  }

  @include small-tablet{
    padding: 26px 0 10px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(60px, 10.5983vw, 124px);
  }

  &__wrapp{
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
    max-width: clamp(350px, 40.6838vw, 476px);
  }

  &__inner {
    display: flex;
    position: relative;

    p{
      @include for-small-tablet{
        max-width: Min(40.6838vw, 476px);
      }
    }

    @include small-tablet{
      flex-direction: column;
    }

    @include for-mobile{
      grid-gap: 32px;
    }

    @include mobile{
      grid-gap: 40px;
    }
  }

  &__image{
    width: Min(58.3761vw, 683px);
    
      @include for-small-tablet{
        top: -15%;
        right: -11%;
      }

      @include small-tablet{
        bottom: -36%;
        right: -13%;
      }

      @include for-mobile{
        position: absolute;
      }

      @include mobile{
        align-self: center;
        width: 120%;
        
        img,picture{
          position: relative;
          right: -5%;
        }
      }

      &-icon{
        position: absolute;
        z-index: 3;

        @include for-mobile{
          bottom: 41%;
          left: 2%;
          width: Min(16.1538vw, 189px);
        }

        @include mobile{
          left: 4%;
          bottom: 0;
          transform: translateY(-135%);
          width: Min(29.34vw ,169px);
        }
      }
  }

  #phone{
    position: absolute;
    z-index: 2;

    @include for-mobile{
      left: 25%;
      width: Min(17.5214vw, 205px);  
    }

    @include mobile{
      left: 31%;
      width: Min(35.59vw ,205px);
    }
  }

  .main-top{
      @include for-small-tablet{
        max-width: Min(53.1624vw ,622px);
      }

      @include small-tablet{
        max-width: clamp(305px, 45.573vw, 350px);
        align-items: flex-start;

        .main-btn{
          max-width: 85%;
        }
      }

      &__title{
        @include small-tablet{
          text-align: start;
        }
      }

      p{
        @include small-tablet{
          text-align: start;
      }
      }
  }

  .info-list{
    @include small-tablet{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile{
      margin-top: -30%;
    }
  }

  &--mode{
    overflow: initial;
    
    @include for-mobile{
      padding: clamp(60px, 11.9658vw, 140px) 0 clamp(60px, 14.7009vw, 172px);
    }

    @include mobile{
      padding: 20px 0 20px;
    }
    .first-section{
      
      &__box{
        justify-content: space-between;
      }

      &__image{
        @include for-tablet{
          top: -20%;
        }

        @include tablet{
          @include for-mobile{
            bottom: 0;
            transform: translateY(30%);
          }
        }

        @include for-mobile{
          width: Min(46.5812vw, 545px);
          right: 3%;
        }
        
        @media (min-width: (600px)) and (max-width: (675px)) {
         right: -2%;
         
        }
        @media (min-width: (576px)) and (max-width: (600px)) {
          right: -4%;
        }

       

        @include mobile{
          width: 100%;

          img,picture{
            right: initial;
          }
        }
      }

      &__inner{
        @include mobile{
          grid-gap: 30px;
        }
      }
    }
    

    .main-top{
      max-width: 100%;
    }
  }

  &--about{
    overflow: initial;
    
    @include for-mobile{
      padding: clamp(60px, 12.1368vw, 142px) 0 clamp(80px, 26.5812vw, 311px);
    }

    @include mobile{
      padding: 20px 0 10px;
    }
    .first-section{
      
      &__box{
        justify-content: space-between;
      }

      &__image{
        @include for-tablet{
          top: -20%;
        }

        @include tablet{
          @include for-mobile{
            bottom: 0;
            transform: translateY(30%);
          }
        }

        @include for-mobile{
          width: Min(46.5812vw, 545px);
          right: 3%;
        }

        @media (min-width: (600px)) and (max-width: (675px)) {
          right: -2%;
          
         }
         @media (min-width: (576px)) and (max-width: (600px)) {
           right: -4%;
         }

        @include mobile{
          width: 100%;

          img,picture{
            right: initial;
          }
        }
      }

      &__inner{
        @include mobile{
          grid-gap: 30px;
        }
      }
    }
    

    .main-top{
      max-width: 100%;
    }
  }
}
