.map-section{
    padding: clamp(26px, 3.9316vw, 46px) 0 clamp(60px, 7.6923vw, 90px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(40px, 7.8632vw, 92px);
    }

    .main-top{
        text-align: center;
        align-items: center;
        p{
            max-width: 375px;
        }
    }
}