.map-section{
    padding-bottom: clamp(60px, 9.4017vw, 110px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(40px, 7.8632vw, 92px);
    }

    .main-top{
        text-align: center;
        align-items: center;
        p{
            max-width: 375px;
        }
    }
}