.plan-list {
  display: grid;

  @include for-small-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include small-tablet {
    @include for-mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include for-mobile{
    grid-gap: clamp(15px, 1.6239vw, 19px);
  }

  @include mobile{
    grid-gap: 20px;
  }
}
